#card{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 30px ;
    height: 600px;
    width: 300px;
    align-items: center;
    justify-content: center;
    /* gap: 10px ; */
}
#card-img{
    height: 100px;
    width: 200px;
}
#card-title{
    font-size: 20px;
    padding: 0px 10px ;
}
#card-description{
    padding: 0px 10px;
}
#rate{
    display: inline;
margin-left: 50px;
}
#count{
    display: inline;
margin-left: 20px;

}
body{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}
